*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: PingFangSC-Regular;
}
body{
    background-color: var(--page-bgcolor);
    z-index: -9998;
    --loading-cover: #ffffff;
    --page-bgcolor: #dddddd;
    --loading-spinner: #EAD050;
    --scroller-grey:#c0c0c0c9;
    --buttongrey: #ffffff;
    --jianbiancolor: rgba(255, 255, 255, 0.7);
    --jianbianword: saturate(220%) blur(15px);
    --cardjianbiancolor: rgba(255, 255, 255, 0.8);
    --cardjianbianword: saturate(220%) blur(25px);
    --cardtext: #000000;
    --hovercolor: rgba(255, 255, 255, 0.3);
    --linkcolor: #b6b6b6;
    --mylove-text: #ffffff;
    --menu-text: #000000;
    --cover-jb: linear-gradient(180deg, rgba(0,0,0,0.24)0%, rgba(0,0,0,0.0)34%, rgba(0,0,0,0.0)76%, rgba(0,0,0,0.25));
    --searchword: #000000; 
    --input: #000000;
    --time: #ffffff;
    --wea: #ffffff;
}
body.dark{
    --loading-cover: #353535;
    --page-bgcolor: #353535;
    --loading-spinner: #EAD050;
    --scroller-grey:#585858c9;
    --buttongrey: #f5f5f5;
    --jianbiancolor: rgba(0, 0, 0, 0.459);
    --jianbianword: saturate(220%) blur(15px);
    --cardjianbiancolor: rgba(0, 0, 0, 0.63);
    --cardjianbianword: saturate(220%) blur(25px);
    --cardtext: #f8f8f8;
    --hovercolor: rgba(90, 90, 90, 0.3);
    --linkcolor: #b6b6b6;
    --mylove-text: #ffffff;
    --menu-text: #fafafa;
    /* --cover-jb: linear-gradient(180deg, rgba(0,0,0,0.1)0%, rgba(0,0,0,0.0)40%, rgba(0,0,0,0.0)76%, rgba(0,0,0,0.25)); */
    --searchword: #ffffff;
    --input: #ffffff;
}
input,button{
    outline: none;
    border: none;
    font-size: 16px;
    padding: 8px;
    margin: 0;
    background: var(--hovercolor);
    border-radius: 5px;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
}
#bodybg{
	position: fixed;
	z-index: -666;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-image: url(https://img.cncn3.cn/timg);
	background-position: center;
    background-size: 100%;
	background-size: cover;
}
.logBox{
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 20px;
    display: block;
    width: 30%;
    min-width: 300px;
    padding: 20px 20px;
    transform: translate(0, -50%);
    background: var(--cardjianbiancolor);
    backdrop-filter: var(--cardjianbianword);
    -webkit-backdrop-filter: var(--cardjianbianword);
    border-radius: 6px;
    transition: all 0.6s;
}
.logBox h1{
    font-size: 22px;
    font-weight: bold;
    padding: 2px 0 10px 0;
}
.logBox h1 img{
    width: 27px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
label{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin: 5px 0;
}
label t{
    display: inline-block;
    min-width: 3.2em;
    padding-right: 0.5em;
}
label input{
    flex: 1;
}
.logBox but{
    display: block;
    margin: 8px 0;
    height: 30px;
}
.logBox but label{
    display: inline;
}
.logBox but button{
    float: right;
    padding: 8px 10px;
}
.logBox p{
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
    line-height: 1.6;
}
.logBox a{
    color: var(--linkcolor);
    text-decoration: none;
}
but label{
    position: relative;
    padding-left: 1.28em;
}
but label input[type="checkbox"]{
    display: none;
}
but label input[type="checkbox"]+i{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(/src/img/checkbox.svg);
    background-position: 0,0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
but label input[type="checkbox"]:checked+i{
    background-image: url(/src/img/checkbox_cked.svg);
}
#cr{
    position: fixed;
    display: block;
    bottom: 7px;
    left: 10px;
    z-index: -2;
    font-size: 12px;
    color: var(--buttongrey);
    line-height: 1.8;
}
@media (max-width: 650px) {
    .logBox{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        min-width: auto;
        max-height: 80%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}